* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::selection {
  background-color: rgb(0, 0, 0);
  color: rgb(1, 242, 255);
}
h5 {
  text-decoration: none;
}
.title {
  font-size: 2rem;
  font-weight: bold;
  animation: title 0.5s;
  position: relative;
  color: black;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  padding: 5px;
}
.title:hover {
  transform: translateY(-3px);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.title::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1.5px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.368),
    rgb(0, 0, 0),
    rgba(255, 255, 255, 0.368)
  );
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}
.title:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.title::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1.5px;

  left: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.368),
    rgb(0, 0, 0),
    rgba(255, 255, 255, 0.368)
  );
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
.title:hover::before {
  transform: scaleX(1);
  transform-origin: right;
}

@keyframes title {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.lsLink {
  transition: all 0.2s ease-in-out;
}
.lsLink:hover {
  color: rgb(139, 245, 190);
  transform: translateY(-4px);
}

.major-mono-display-regular {
  font-family: "Major Mono Display", monospace;
  font-weight: bold;
  font-style: normal;
}

.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: transparent;
  text-shadow: 0px 0px 5px white;
  animation: side 0.4s ease-in-out;
}
.cardBody {
  transition: all 0.3s ease-in-out;
  margin: 8px;
  text-align: left;
}

.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
  line-height: 100px;
}
.link {
  transition: all 0.3s ease-in-out;
}
.link:hover {
  font-weight: bolder;
  transform: translateY(-4px);
}
.box {
  animation: side 1s ease-in-out;
}

.box:hover {
  transform: translateY(-200px);
}
.con-box {
  font-weight: bold;
  animation: side 1s ease-in-out, 1.5s ease-in;
  row-gap: 10px;
}
@keyframes side {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.conferenceBox {
  animation: slideIn 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-top: 20px;
  font-size: 20px;
  text-shadow: 0px 0px 10px white;
  font-family: "Courier New", Courier, monospace;
}
@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.saved-ses {
  animation: slideIn 1s ease-in-out;
}

.home {
  animation: side 0.4s ease-in-out;
}
.card-img {
  height: 15rem;
  overflow: auto;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: 0px 0px 2px white;
}
.card-img:hover {
  transform: scale(1.05) translateY(-5px);
  background-color: rgb(0, 0, 0);
  background-blend-mode: darken;
  font-weight: bolder;
}
@keyframes zoom-in {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

.card-session {
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  margin-bottom: 10px;
}
.card-session:hover {
  transform: translateY(-4px);
  box-shadow: 0px 0px 5px white;
}
.button {
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: top;
  transition: transform 0.3s ease-in;
  border-radius: 5px;
  overflow: hidden;
}

.button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}

.ses-name {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(to right, #000000, #3244e4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.card-com {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  color: black;
  box-shadow: 0px 0px 10px rgba(192, 255, 251, 0.878), 0px 0px 10px white;
}
.card-com:hover {
  transform: translateY(-5px);
  /* background-color: rgba(2, 98, 253, 0.504); */
  background-color: rgba(120, 241, 233, 0.815);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.788),
    10px 10px 10px rgba(0, 0, 0, 0.829), 10px 10px 10px rgba(0, 0, 0, 0.829);
}

.trade-winds-regular {
  font-family: "Trade Winds", system-ui;
  font-size: large;
  font-weight: 400;
  font-style: normal;
  color: black;
  transition: all 0.2s ease-in-out;
}
.trade-winds-regular:hover {
  transform: translateY(-4px);
  text-shadow: 1px 2px 3px rgb(255, 255, 255);
}

.faster-one-regular {
  font-family: "Faster One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 37px;
}
.dokdo-regular {
  font-family: "Dokdo", system-ui;
  font-weight: 400;
  font-style: normal;
}
.metal-mania-regular {
  font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-style: normal;
}
.sedgwick-ave-display-regular {
  font-family: "Sedgwick Ave Display", cursive;
  font-weight: 400;
  font-style: normal;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

.sub-head {
  color: white;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.img2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.552);
  background-blend-mode: darken;
}
.front {
  background-color: #00000000;
  transition: 0.3s ease-in-out;
}
.front:hover {
  font-weight: bold;
  text-shadow: 1px 2px 3px black;
}

.line {
  height: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  margin-inline: 5%;
  margin-top: 15px;
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.195),
    white,
    rgba(0, 0, 0, 0.195)
  );
  width: 95%;
}
.line3 {
  height: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  margin-top: 1px;
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.195),
    white,
    rgba(0, 0, 0, 0.195)
  );
  width: 50%;
}

.homeLink {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  transition: all 0.3s ease-in-out;
}
.homeLink:hover {
  text-decoration: underline;
  transform: translateY(-3px);
  color: cyan;
  text-shadow: 0px 0px 10px cyan;
}

.linkItem {
  position: relative;
  z-index: 1;
}

.linkItem::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.358);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in;
  border-radius: 10px;
}
.linkItem:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.icon {
  color: black;
  font-size: 22px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.3s ease-in-out;
  letter-spacing: 1.5px;
}
.icon:hover {
  color: white;
}

.hover {
  transition: all 0.3s ease-in-out;
}
.hover:hover {
  transform: translateY(-3px);
}

/* session form styles */

.session-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .rock-salt-regular {
    font-size: 30px;
  }
}

.home-title {
  font-size: 3.3rem;
  background-image: linear-gradient(
    to bottom,
    cyan,
    cyan -10%,
    white,
    white,
    white,
    white,
    cyan,
    cyan 110%
  );
  background-clip: text;
  color: transparent;
  transition: all 0.4s ease-in-out;
}

.home-title::first-letter {
  background-image: linear-gradient(to top, white, white, rgb(0, 195, 255));
  color: transparent;
  background-clip: text;
}
