.sessionForm {
    width: 50%;
    background-color: ghostwhite;
    padding: 10px;
}

.sessionSubmit{
    margin-left: 10px;
    margin-bottom: 10px;

}

.formTitle {
    font-size: 20px;
    color: gray;
    margin-top: 10px;
    margin-left: 10px;
}